{% extends 'base.html' %}

    {% block title %}Hack Day: Charities{% endblock %}

    {% block content %}

    <h1>Approved Charities</h1>
    {% if charities %}
        <ul id="charity-list">
        {% for charity in charities %}
            <li>
                  <strong><a href="{{charity.url}}">{{charity.name}}</a></strong>
                  <div>{{charity.description}}</div>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>Crickets.</p>
    {% endif %}

    {% if user.is_authenticated %}
    <p>Why not <a href="{% url charities-suggest %}">suggest a charity</a> to add to the
    list?</p>
    {% endif %}

    {% endblock %}
