{% extends 'base.html' %}
{% load markup %}
    {% block title %}Hack Day: Voting Information{% endblock %}

    {% block bodyid %}voteinfo{% endblock %}
    {% block content %}

    <div id="vote-how">
		<div id="vote-instr">
        <h3>Vote On the site </h3>
           <p><a href="{% url voting-vote %}">Click here</a> to vote on the site.</p>
        </div>

    </div>

    <div id="vote-cat">
    <h3>Categories</h3>
        <ol>
        {% for category in categories %}
            <li class="cat-list"><span class="vote-hi">{{category.id}}</span> {{category.name}}</li>
        {% endfor %}
        </ol>
    </div>


    <div id="vote-team">
        <h3>Teams</h3>
        <ul>
        {% for team in teams %}
			{% ifchanged team.category.name %}
				<li class="team-list page-break">
				<h2 style="display: none;">{{team.category.name}}</h2>
			{% else %}
				<li class="team-list">
			{% endifchanged %}
                <h4><span class="vote-hi">{{team.id}}</span> {{team.name}}</h4>
                <div>
                    <strong>Category:</strong>
                    {{team.category.name}}
                </div>
                <div>
                    <strong>Project Type:</strong>
					{% if team.project_type == 'I' %}
						Implemented
					{% else %}
						Non Implemented
					{% endif %}
                </div>
                <div>
                    <strong>Description:</strong>
                    {{team.project}}
                </div>
                <div class="team-members clearfix">
                    <strong>Members:</strong>
					<div>
                    {% for member in team.members.values %}
                        <p>{{member.first_name}} {{member.last_name}}</p>
                    {% endfor %}
                    </div>
                </div>
            </li>
        {% endfor %}
        </ul>
    </div>

    {% endblock %}
