django==1.11.23
django-debug-toolbar
django-taggit
Pillow
Markdown
docutils
tweepy
beautifulsoup
https://github.com/versae/qbe/archive/0.2.0.tar.gz
python-ldap==2.4.10
requests==2.2.1
python-memcached
