{% extends 'base.html' %}

    {% block title %}Hack Day: Teams{% endblock %}

    {% block content %}
    <h1>Team List</h1>

	{% if user.is_active %}
		<p><a href="{% url teams-create %}" class="button">Create a team!</a>
	{% endif %}

	<ul id="team-list">
        {% for team in team_list %}

        <li>
        <a href="{% url teams-detail slug=team.slug %}">{{ team.name }}</a>   <span>{{ team.captain.get_full_name|default:team.captain.username }}*</span>
        </li>


        {% endfor %}
    </ul>
    
    <p>* team captain</p>

    {% endblock %}
