{% extends 'base.html' %}

    {% block title %}Hackday: Team Detail{% endblock %}

    {% block content %}

    <strong>name:</strong>
    <p>{{ team.name }}</p>

    {% if team.logo %}
    <strong>logo:</strong>
    <p>url: {{ team.logo.url }}</p>
    {% endif %}

    <strong>category:</strong>
    <p>{{ team.category }}</p>

    <strong>description:</strong>
    <p>{{ team.project }}</p>

    <strong>captain:</strong>
    <p>{{ team.captain.get_full_name|default:team.captain.username }}</p>

    <strong>members:</strong>
    <ul>
        {% for member in team.members.all %}
        <li>{{ member.get_full_name|default:member.username }}</li>
        {% endfor %}
    </ul>

    <br>

    <strong>charity:</strong>
    <p><a href="/charities/">{{ team.charity }}</a></p>

    {% if team.images.all %}
    <strong>images:</strong>
    <ul>
        {% for image in team.images.all %}
        <li>
            <ul>
                <li>title: {{ image.title }}</li>
                <li>height: {{ image.height }}</li>
                <li>width: {{ image.width }}</li>
                <li>url: {{ image.attached_file.url }}</li>
            </ul>
        </li>
        {% endfor %}
    </ul>
    {% endif %}

    <br>

    {% if team.links.all %}
    <strong>links</strong>
    <ul>
        {% for link in team.links.all %}
        <li>{{ link.url }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    {% if team.attachments.all %}
    <strong>attachments</strong>
    <ul>
        {% for attachment in team.attachments.all %}
        <li><a href={{attachment.attached_file.url}}>{{ attachment.title }}</a></li>
        {% endfor %}
    </ul>
    {% endif %}

    <!--
    {% include 'blog/list.html' %}
    -->

    {% endblock %}
