{% extends 'base.html' %}
{% load custom_filters %}

{% block title %}Edit Profile: {{user_.username}}!{% endblock %}
    {% block bodyid %}page-editprofile{% endblock %}

{% block content %}

    {% if message %}
    <p>{{message}}</p>
    {% endif %}

    <h3>Editing {{user_.username}}</h3>
    <img src="{{ user_profile.image }}" />

    <form action="/users/{{user_.username}}/edit" method="POST">
        {% csrf_token %}
        {{form.as_p|checkbox_first}}
        <input type="submit" value="Submit" />
    </form>

    <p><a href="/users/{{user_.username}}">Cancel</a></p>

{% endblock %}
