<html>
<head>
    <title>User Profile: {{user_.username}}!</title>
</head>
<body>

    <h3>{{user_.username}}</h3>
    {% if user_profile.image %}
    <p><img src="{{user_profile.image}}"></p>
    {% endif %}
    <p><strong>{{user_.first_name}} {{user_.last_name}}</strong></p>
    <p><strong>Email:</strong> {{user_.email}}</p>
    <p><strong>Created:</strong> {{user_profile.create_date}}</p>
    <p><strong>Location:</strong> {{user_profile.location}}</p>
    <p><strong>About Me:</strong></p>
    <p>{{user_profile.description}}</p>

</body>
</html>
