{% extends 'base.html' %}
    {% block title %}Hack Day: User Profile for {{user_.username}}!{% endblock %}

    {% block content %}

    <h3>{{user_.username}}</h3>
    <p><img src="{{user_profile.image}}"> Change your avatar at <a href="http://www.gravatar.com">gravatar.com</a></p>
    <p><strong>{{user_.first_name}} {{user_.last_name}}</strong></p>
    <p><strong>Email:</strong> {{user_.email}}</p>
    <p><strong>Alternate Email:</strong> {{user_profile.alternate_email}}</p>
	{% if user == user_ %}
		<p><strong>Phone:</strong> {{user_profile.phone}}</p>
		<p><strong>Created:</strong> {{user_profile.create_date}}</p>
    {% endif %}
	<p><strong>Location:</strong> {{user_profile.location}}</p>
    <p><strong>About Me:</strong></p>
    <p>{{user_profile.description}}</p>

    {% if user.is_authenticated and user.username == user_.username %}
    <p><a href="{% url users-edit-profile user_.username %}">Edit profile</a></p>
    {% endif %}

    {% endblock %}
