{% extends 'base.html' %}

    {% block title %}Sign In!{% endblock %}
    {% block bodyid %}page-signin{% endblock %}

    {% block content %}
    <h3>Sign In</h3>

    {% if error_message %}
    <p class="error">{{error_message}}</p>
    {% endif %}

    <form action="{% url users-sign-in %}" method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Submit" />
    </form>
	<p><a href='{% url reset-password %}'>Forgot your password?</a></p>
    {% endblock %}
