<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}Hackday{% endblock %}</title>
        
        <link rel="stylesheet" href="{{ STATIC_URL }}css/base.css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}css/theme.css" />
        <style>
		

		</style>
        
        <script>
		  document.createElement('article');
		  document.createElement('aside');
		  document.createElement('footer');
		  document.createElement('header');
		  document.createElement('hgroup');
		  document.createElement('mark');
		  document.createElement('nav');
		  document.createElement('section');
		</script>

    </head>

    <body id="{% block bodyid %}home{% endblock %}">
       
       {% include "header.html" %}


        <div id="content">
          {% block content %}Content goes here{% endblock %}
        </div>
        
        <footer>
            {% include "nav.html" %}
        </footer>

        <p><a href="{% url blog-feed %}">RSS feed</a></p>

    </body>
</html>
