<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}Hackday{% endblock %}</title>
        <link rel="stylesheet" href="{{ STATIC_URL }}/css/base.css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}/css/theme.css" />
    </head>

    <body id="{% block bodyid %}home{% endblock %}">
       
        <header>
            <h1>Hackday!</h1>
            
            <nav>
                {% include "nav.html" %}
            </nav>
            
        </header>

        

        {% block content %}Content goes here{% endblock %}
        
        <footer>
            
        </footer>

    </body>
</html>
