{% extends 'base.html' %}
{% load markup %}
    {% block title %}Blog: {{ entry.title }}{% endblock %}

    {% block content %}

    <h3>{{ entry.title }}</h3>

    {% if entry.categories.all %}
    <p>Categories:
        <ul>
        {% for category in entry.categories.all %}
            <li><a href="/blog/category/{{category.slug}}">{{ category.slug }}</a></li>
        {% endfor %}
        </ul>
    </p>
    {% endif %}

    {% if entry.tags.all %}
    <p>Tags:
        <ul>
        {% for tag in entry.tags.all %}
            <li><a href="/blog/tag/{{tag.slug}}">{{ tag.slug }}</a></li>
        {% endfor %}
        </ul>
    </p>
    {% endif %}

    <p>Published: {{ entry.pub_date|date:"F d, Y," }} at {{ entry.pub_date|date:"H:i" }}</p>
    <p>Author: <a href="/users/{{ entry.author.username }}">{{entry.author.username}}</a></p>
    
    <p>{{ entry.content|markdown:"safe" }}</p>

    {% endblock %}
