{% extends 'base.html' %}
{% load markup %}
    {% block title %}Blog: {{ entry.title }}{% endblock %}

    {% block content %}

    <h1>{{ entry.title }}</h1>

    {% if entry.categories.all %}
    <p>Categories:
        <ul>
        {% for category in entry.categories.all %}
            <li><a href="{% url blog-category category.slug %}">{{ category.slug }}</a></li>
        {% endfor %}
        </ul>
    </p>
    {% endif %}

    {% if entry.tags.all %}
    <p>Tags:
        <ul>
        {% for tag in entry.tags.all %}
            <li><a href="{% url blog-tag tag.slug %}">{{ tag.slug }}</a></li>
        {% endfor %}
        </ul>
    </p>
    {% endif %}
   <p class="ent-published">Published: {{ entry.pub_date|date:"F d, Y," }} at {{ entry.pub_date|date:"H:i" }}</p>
    <p class="ent-author">Author: <a href="{% url users-profile entry.author.username %}">{{entry.author.username}}</a></p>
  

    <div class="rendered-content">
	{% if entry.format == formats.MARKDOWN %}
		{{ entry.content|markdown }}
	{% endif %}
	{% if entry.format == formats.RESTRUCTURED_TEXT %}
		{{ entry.content|restructuredtext}}
	{% endif %}
	</div>

    {% endblock %}
