
{% extends 'base.html' %}    

    {% block title %}Hackday: Blog{% endblock %}
    
    {% block content %}
    <h3>Latest Blog Entries</h3>
    {% if latest_entries %}
        <ul>
        {% for entry in latest_entries %}
            <li><a href="/blog/{{ entry.id }}/">{{ entry.title }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>Crickets.</p>
    {% endif %}
    
    {% if user.is_authenticated %}
        <p><a href="/blog/add">Add a post</a></p>
    {% else %}
        <p><a href="/users">Sign in to write a blog post</a></p>
    {% endif %}
    
    {% endblock %}

