<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> <html
xmlns="http://www.w3.org/1999/xhtml"> <head> <meta http-equiv="Content-Type"
content="text/html; charset=utf-8" /> <title> {{ site_name }} Email </title>
</head> <body bgcolor="#000000" alink="#ca1F26" link="#ca1F26" vlink="#ca1F26"> <p> {% load markup %} </p> <center> <table cellpadding="0"
cellspacing="0" border="0" width="100%" bgcolor="#000000"> <tr> <td
width="100%" bgcolor="#000000"> <center> <table cellpadding="0"
cellspacing="0" border="0" width="590" bgcolor="#000000"> <tr> <td
colspan="3"> <img src="{{ STATIC_URL }}/images/email/space.gif"
height="50" width="590" border="0" /> </td> </tr> <tr> <td width="590"
bgcolor="#000000" colspan="51"> <img
src="{{ STATIC_URL }}/images/email/header.gif" height="245"
width="504" border="0" /> </td> </tr> <tr> <td width="590" bgcolor="#00000"
colspan="51" height="15"> </td> </tr><tr> <td width="590" bgcolor="#CA2027"
colspan="51" height="1"> </td> </tr><tr> <td width="60"
style="background-color:#000000;" bgcolor="#000000"> <img
src="{{ STATIC_URL }}/images/email/space.gif" height="1"
width="60" border="0" /> </td> <td width="470" bgcolor="#000000"
style="background:#000000;"> <table cellpadding="0" cellspacing="0"
border="0" width="470" style="background:#fffff;"> <tr> <td width="460"
style="background-color:#000000;" bgcolor="#000000"> <img
src="{{ STATIC_URL }}/images/email/space.gif" height="20"
width="460" border="0" /> </td> </tr> <tr> <td width="460" align="left"
style="color:#FFFFFF;background:#000000;"> <font face="Arial,Helvetica,
sans-serif" size="3" color="#FFF">{{entry.author.get_full_name}} has posted a new
{{site_name}} blog post: <a href="{{site_domain}}{%url blog-entry entry.id %}">{{entry.title|safe}}</a>
{% if entry.format == 'MD' %}
	{{ entry.content|markdown }}
{% endif %}
{% if entry.format == 'RST' %}
	{{ entry.content|restructuredtext}}
{% endif %}
{{site_domain}}{% url blog-entry entry.id %}</font> </td> </tr> <tr> <td
width="460" style="background-color:#000000;" bgcolor="#000000"> <img
src="{{ STATIC_URL }}/images/email/space.gif" height="20"
width="460" border="0" /> </td> </tr> </table> </td> <td width="60"
bgcolor="#000000"> <img
src="{{ STATIC_URL }}/images/email/space.gif" height="1"
width="60" border="0" /> </td> </tr> <tr> <td colspan="3"><img
src="{{ STATIC_URL }}/images/email/space.gif" height="50"
width="590" border="0" /> </td> </tr> </table> </center> </td> </tr> </table>
</center> </body> </html>
